<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotel.hotelcaribe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icono_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icono_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelCaribe">
        <activity
            android:name=".servicios_sucursales"
            android:exported="false" />
        <activity
            android:name=".ui.administracion.panelDeAdministracion"
            android:exported="false" />
        <activity
            android:name=".inicio"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.HotelCaribe.NoActionBar" />
        <activity
            android:name=".registrar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>